<!DOCTYPE html>
<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        <h1>
            First Page :
            <%=title%>
        </h1>
        <a href="/sign-up" >Create New Account</a>
        <a href="/sign-in">Log In</a>
    </body>
</html>