<!DOCTYPE html>
<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="css/home.css">
    </head>
    <body>
        <div class="body-container">
            <div id="sign-in" class="container">
                <form class="form" id="login-user" action="/users/login-user" method="post">
                    <h1>Log In</h1>
                    <input id="username" class="user-params" type="text" name="email" placeholder="Enter your Username/Email" required >
                    <input id="password" class="user-params" type="password" name="password" placeholder="Enter Password" required >
                    <button class="button" type="submit" id="sign-in-button">Sign In</button>
                </form>
            </div>
        </div>
    </body>
</html>